*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app{
    padding: 40px;
}
.input{
     background-color: rgb(132, 136, 141);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    
}

.screen{
    min-height: 90px;
     background-color: rgb(60, 63, 66);
     padding: 22px;
     text-align: right;
     font-size: 30px;
     font-weight: bold;
}

.ipbtn{
    padding: 22px;
}

.historydropdown{
    display: none;
}


.history{
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.historybtn{
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

ol{
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
     background-color: rgb(132, 136, 141);
     
    
}

.ClearHistory{
    padding: 20px;
     font-weight: bold;
    font-size: 20px;
}