*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.app{
    background-color: rgb(168, 189, 187);
    padding: 70px;
    margin: 100px auto 100px auto;
    width: 60%;
    border-radius: 6px;
    box-shadow:5px 10px 10px rgb(36, 39, 38);;

    

}

.playarea{
    padding: 20px 0;
}

.num-input{
    border-radius: 6px;
    padding: 10px;
}

button{
    border-radius: 6px;
    padding: 10px;
}

.hint{
    font-size: larger;
    padding: 20px 0;
}