
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: antiquewhite;
}

.input{
    background-color: white;
    margin: 70px;
    padding: 10px;
    border-radius: 20px;
}

#myform{
    display: flex;
    flex-direction: column;
    padding: 50px 120px;
    gap: 10px;
    margin: 40px;
}

input{
    border-radius: 7px;
    padding: 7px;
}

.output{
    background-color: white;
    margin: 70px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}


th {
    background-color: #7d7e76;
    color: white;
    padding: 10px;
    text-align: center;
}


td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #a79594;
}

.fail-row{
    background-color: #3b3332;
    color: whitesmoke;
}