*{
    margin: 0;
    box-sizing: border-box;
}

body{
     font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
 height: 100vh;
    background: #f2f2f2;}

.container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}   

input.error-border {
    border-color: red;
}

small.error {
    color: red;
    display: block;
    height: 14px;
    font-size: 12px;
}